* {
  user-select: none;
}

/**
* GLOBAL CLASSES
**/
.sidebar__list__container::-webkit-scrollbar {
  width: .4em;
}
 
.sidebar__list__container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.36);
  border-radius: 4px;
}
 
.sidebar__list__container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2); 
  border-radius: 4px;
}